<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="main-container">
            <img src="{{ imgPath }}" class="rounded-image" alt="Profile picture of {{ name }}">
            <p>
                This site was created by <strong>Paul S. Decierdo</strong>. It uses data from mapbox.com and darksky.net!
            </p>
        </div>
    </div>
    {{>footer}}
</body>
</html>