<div class="navbar">
    <div class="title">
        {{ title }}
    </div>
    <div>
        <a href="/" class="semibold">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
    
</div>