@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');
h1{
    color: rgb(96, 167, 167);
}
body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    color: #3a3a3a;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/images/bg.jpg');
    background-size: cover;
}
.main-content{
    flex-grow: 1;
}
.navbar div a, .navbar .title{
    display: inline-block;
    text-decoration: none;
    color: #4b4b4b;
    padding: 17px 30px;
    font-size: 1.1rem;
}
.title{
    font-weight: 700;
}
.navbar a:hover{
    background-color: #d4d3d3;
    transition: .4s;
}
.semibold{
    font-weight: 600;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #e2e2e2;
}
.rounded-image{
    width: 30%;
    height: auto;
    border-radius: 50%;
}
.banner{
    width: 100%;
    margin: 4% auto;
    text-align: center;
    color: rgb(116, 116, 116);
    padding: 3% 0 0 0;
    font-size: 5rem;
}
.link-container{
    text-align: center;
}

.link-container p{
    padding: 2%;
    color: #7e7e7e;
    font-size: 1.5rem;
}
.button{
    color: rgb(66, 66, 66);
    background-color: rgb(223, 223, 223);
    border: none;
    font-size: 1.05rem;
    padding: 15px 40%;
    text-decoration: none;
    font-weight: 600;
    border-radius: 3px;
    font-family: inherit;
}
input{
    font-family: inherit;
}
.button:hover{
    background-color: rgb(202, 202, 202);
    cursor: pointer;
    transition: .4s;
}
.button.primary{
    color: rgb(255, 239, 236);
    background-color: rgb(231, 109, 61);
}
.button.primary:hover{
    background-color: rgb(197, 90, 48);
}
.footer{
    text-align: center;
    padding: 1% 0;
    background-color: #ececec8c;
    color: #585858;
    font-size: 1.2rem;
    border-top: 1px solid #d4d4d4;
}
.main-container{
    background-color: #f5f5f5;
    width: 30%;
    height: 70vh;
    margin: 2% auto;
    border-radius: 10px;
    padding: 20px 15px;
}

.field{
    margin-bottom: 10px;
    text-align: center;
}

.field input{
    width: 85%;
    padding: 15px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
}

.form-header{
    font-size: 2.2rem;
    color: #4b4b4b;
    font-weight: 700;
    padding: 10px;
    margin-bottom: 1px;
}

.error{
    color: rgb(255, 49, 49);
}
.loading-img img{
    width: 150px;
    height: auto;
}

#forecastContent{
    padding: 20px 15px;
}

.loading-img{
    text-align: center;
}

.hidden{
    display: none;
}

@media only screen and (max-width: 768px) {
    .main-container{
        width: 70%;
        height: auto
    }
    .title{
        display: none !important;
    }
}